#images{
    width: 150px;
    display: flex;
    height: 150px;
    background-color: red;
    margin: 5px;
}
#owl{
    width: 150px;
    display: flex;
    height: 150px;
    background-color: aqua;
    margin: 5px;
}