body {
    font-family:Arial,sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}


nav {
    background-color: #4CAF50;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 500px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

form p {
    margin: 16px 0;
}

label{
    display: inline-block;
    width: 140px;
    font-weight: bold;
}

input[type="text"]  {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 1rem auto;
    padding:  9px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
    color: #000;
}

#weight-guide{
    margin-top: 32px;
}

#weight-guide h3 {
    border-bottom: 2px solid  #4caf50;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

#weight-guide p {
    margin: 0.3rem 0;
}